
body{
    background-image: url(imagens/login-fundo.png);
     background-size: 100%;
     background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logo{
    height: 80px;
    position: absolute;
   
}
.caixa{
    height: 580px;
    width: 500px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.493) ;
    border-radius: 30PX;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    backdrop-filter: blur(5px);
    flex-direction: column;    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.37); 
    overflow-y: auto;
    box-sizing: border-box;
    
}
.caixa::-webkit-scrollbar {
  width: 6px;     
}

h2{
    color: rgb(77, 122, 39);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 40px ;
    margin-top: 20px;
    margin-bottom: 0;
    

}
p{
  margin-top: 0;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(54, 28, 7);

}
form{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
input{
    border: 2px solid rgba(113, 177, 54, 0.404);
    border-radius: 10px;
    background-color: rgba(191, 214, 147, 0.247);
    height: 35px;
    width: 300px;
    outline: none;
}
img{
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}
input:focus{
    border-color: rgba(109, 185, 38, 0.404);
    box-shadow: 0px 0px 15px #96d47280;
}
button{
    height: 38px;
    width: 120px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #96d472, #3f6325);
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.288);
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 18px;
    display: block;
}
button:hover{
    transform: scale(1.1);
}
a{
    color: #456b2a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: 20px;
}
a:hover{
    color: #112e0d;
}