body{
    background-image: url(imagens/login-fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logo{
    height: 80px;
    position: absolute;
    margin-left: 20px;
}

.caixa{
    background-color:white ;
    backdrop-filter: blur(5px);
    height: 600px;
    width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
table, th, tr{
    border: 2px solid rgb(54, 28, 7);;
    border-collapse: collapse;
    color: rgb(54, 28, 7);
}
table{
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
header{
    width: 100%;
    height: 90px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.795);
    align-items: center;
    justify-content: center;

}
nav{
    justify-content: center;
}
ul{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #5d8a3f;
    font-size: 17px;
}

#sobrenos:hover, #faleconosco:hover, #doacao:hover{
    color: #2f4e1d;
}
.rodape {
    background-color: #406928;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
}
#logorodape{
    height: 300px;
    width: 400px;
    display: flex;
}
#logodorodape{
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
#direitosreservado{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
}
#barradelinks{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redesecontatos{
    width: 800px;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}
