html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/login-fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.caixa {
    max-width: 925px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 30px;
    margin: 60px auto;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.37);
    padding: 40px 20px;
    box-sizing: border-box;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    color: rgb(54, 28, 7);
    text-align: center;
}

h1 {
    color: rgb(77, 122, 39);
    font-size: 40px;
    margin: 60px auto 20px;
    text-align: center;
}

h2 {
    color: rgb(77, 122, 39);
    font-size: 30px;
    margin: 60px auto 20px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(54, 28, 7);
}

button {
    height: 50px;
    width: 180px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #96d472, #3f6325);
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.288);
    color: white;
    margin: 30px auto 0;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button a:hover {
    color: #112e0d;
}
