body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logo{
    height: 80px;
    position: absolute;
    margin-left: 20px;
    z-index: 9999;
}
#adotar{
    background-color:#36432b;
    display: flex;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.cabecalho{
    height: 390px;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(imagens/imagem-header/golden-header-roxo.jpg);
    background-repeat: no-repeat;

}
header{
    width: 100%;
    height: 90px;
    display: flex;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.068);
    align-items: center;
    justify-content: center;

}
nav{
    justify-content: center;
}
ul{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
li{
    list-style: none;
}
#sobrenos:hover, #faleconosco:hover, #doacao:hover{
    color: #2f4e1d;
}
a{
    text-decoration: none;
    color: #5d8a3f;
    font-size: 17px;
}
.filtro{
    position: absolute;
    margin-right:10px  ;
    margin-left: 1070px;
}

select{
    height: 30px;
    width: 100px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #96d472, #3f6325);
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.288);
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 18px;
    display: block;
}
option{
    background-color:#3f6325;
}

h1{
    margin-top: 200;
}
.caixasopicoes{
    display: flex;
    height: 100px;
    width: 100%;
    gap: 100px;
    justify-content: center;

}

.cd3{
    height: 100px;
    width: 100px;
    background-color: white;
    display: flex;
    border-radius: 15px;
    border: 3px solid #801dcd;
    background-image: url(imagens/imagem-icones/3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.cd1:hover, .cd2:hover, .cd3:hover{
    box-shadow: 0px 0px 15px #811dcd75;
    border-radius: 15px;
}
.adicionar-pet{
    border-radius: 15px;
    width: 400px;
    height: 490px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: none;
    border: 1px solid #801dcd;
}
input{
    border-radius: 15px;
    border: 2px solid #801dcd;
    margin: 10px;
}
textarea{
    border: 1px solid #801dcd;
    border-radius: 15px;
    margin: 10px;
}
#tipoAnimal{
    height: 30px;
    width: 100px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #ad369a, #801dcd);
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.288);
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 18px;
    display: block;

}
#botaoadicionar{
    height: 38px;
    width: 120px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #801dcd, #ad369a);
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.288);
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 18px;
    display: block;
}
#textoadote{
    background: linear-gradient(#801dcd, #366bad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 100px; 
    margin-top: 50px;
}
#ajudenos{
    background: linear-gradient(#801dcd, #366bad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#feed-animais{
    margin: 40px auto;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.post {
    width: 280px;
    border-radius: 15px;
    padding: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.377);
}
.post img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}


.desc {
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 6px;
}
.nomeDiv{
    background-color: blue;
}
.posteradocao{
    background-image: url(imagens/anuncios/Adote.png);
    height: 220px;
    width: 1300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.288);
}

.caixadepost{
    height: 310px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center; 
}
.postfake {
    width: 280px;
    padding: 12px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.377);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.petimg{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}
.desc {
    font-size: 15px;
    margin-bottom: 6px;
}

.caixadeajuda{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    flex-direction: column;
}
.botoesdeajuda{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
.doacaoajuda{
  background: linear-gradient(to left, #ad369a, #366bad);
    height: 50px;
    width: 400px;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.288);
}
.voluntarioajuda{
    background: linear-gradient(to left,#801dcd, #ad369a);

    height: 50px;
    width: 400px;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.288);
}
.rodape {
    background-color: #801dcd;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
}
#logorodape{
    height: 300px;
    width: 400px;
    display: flex;
}
#logodorodape{
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
#direitosreservado{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
}
#barradelinks{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redesecontatos{
    width: 800px;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}
