body{
    padding: 0;
    height: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logo{
    height: 80px;
    position: absolute;
    margin-left: 20px;
}
#adotar{
    background-color:#36432b;
    display: flex;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.cabecalho{
    height: 350px;
    width: 100%;
    display: flex;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    background-image: url(imagens/golden-filhote-sentado.png);
    
}
header{
    width: 100%;
    height: 90px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;

}
nav{
    justify-content: center;
}
ul{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #5d8a3f;
    font-size: 17px;
}
.filtro{
    position: absolute;
    margin-right:10px  ;
    margin-left: 1070px;
}

select{
    border-radius: 15px;
    height: 30px;
    background-color: #5d8a3f;
    color: white;
    align-items: center;
    text-align: center;
}
option{
    border-radius: 15px;
}

h1{
    margin-top: 200;
}
.caixasopicoes{
    display: flex;
    height: 100px;
    width: 100%;
    gap: 100px;
    justify-content: center;

}

.cd1{
    height: 100px;
    width: 100px;
    background-color: white;
    display: flex;
    border-radius: 15px;
    border: 3px solid #5d8a3f;
    background-image: url(imagens/icone-livro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cd2{
    height: 100px;
    width: 100px;
    background-color: white;
    display: flex;
    border-radius: 15px;
    border: 3px solid #5d8a3f;
    background-image: url(imagens/icone-lampada.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cd3{
    height: 100px;
    width: 100px;
    background-color: white;
    display: flex;
    border-radius: 15px;
    border: 3px solid #5d8a3f;
    background-image: url(imagens/denuncia-icone.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}