body {
    background-image: url(imagens/login-fundo.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat; 
}

.caixa {
    height: 1000px;
    width: 925px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.493) ;
    border-radius: 30PX;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    backdrop-filter: blur(5px);
    flex-direction: column;    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.37);
}

p {
  margin-top: 0;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(54, 28, 7);
}

h1 {
    color: rgb(77, 122, 39);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 40px ;
    margin-top: 60px;
    margin-bottom: 20;
}

button {
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #96d472, #3f6325);
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.288);
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #112e0d;
}