body {
    background-image: url(imagens/login-fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.caixa {
    width: 925px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 30px;
    margin: 60px auto;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.37);
    padding-bottom: 40px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(54, 28, 7);
}

h1 {
    color: rgb(77, 122, 39);
    font-size: 40px;
    margin: 60px auto 20px;
}

button {
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #96d472, #3f6325);
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.288);
    color: white;
    margin: 30px auto 0;
    cursor: pointer;
    font-size: 18px;
}

button a {
    text-decoration: none;
    color: white;
}

button a:hover {
    color: #112e0d;
}

.rodape {
    background-color: #801dcd;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
}
#logorodape{
    height: 300px;
    width: 400px;
    display: flex;
}
#logodorodape{
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
#direitosreservado{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
}
#barradelinks{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redesecontatos{
    width: 800px;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#logo{
    height: 80px;
    position: absolute;
    margin-left: 20px;
    z-index: 9999;
}
#adotar{
    background-color:#36432b;
    display: flex;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.cabecalho{
    height: 390px;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(imagens/imagem-header/golden-header-roxo.jpg);
    background-repeat: no-repeat;

}
header{
    width: 100%;
    height: 90px;
    display: flex;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.068);
    align-items: center;
    justify-content: center;

}
nav{
    justify-content: center;
}
ul{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
li{
    list-style: none;
}
#sobrenos:hover, #faleconosco:hover, #doacao:hover{
    color: #2f4e1d;
}
a{
    text-decoration: none;
    color: #5d8a3f;
    font-size: 17px;
} 