body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(imagens/background/pexels-lum3n-44775-406014.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logo{
    height: 80px;
    position: absolute;
    margin-left: 20px;
    z-index: 9999;
}
#adotar{
    background-color:#36432b;
    display: flex;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
header{
    width: 100%;
    height: 90px;
    display: flex;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.068);
    align-items: center;
    justify-content: center;

}
nav{
    justify-content: center;
}
ul{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
li{
    list-style: none;
}
#sobrenos:hover, #faleconosco:hover, #doacao:hover{
    color: #2f4e1d;
}
a{
    text-decoration: none;
    color: #5d8a3f;
    font-size: 17px;
}
.rodape {
    background-color: #406928;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
}

#logorodape{
    height: 300px;
    width: 400px;
    display: flex;
}

#logodorodape{
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

#direitosreservado{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
}

.redesecontatos{
    width: 800px;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.caixa{
    width: 925px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.295);
    margin-left: auto;
    margin-right: auto;
}
.texto{
    width: 870px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}
img{
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}